
.navbar-toggler {
    margin-left: auto; /* Moves the hamburger menu to the right */
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays on top */
    padding: 20px 0; 
    background-color: transparent !important;
    justify-content: space-between;
}
.navbar-scrolled {
    background-color: rgba(0,0,0,0.95) !important;
    padding: 10px 0;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

@media (max-width: 991px) {
 
    .navbar-brand {
        margin-top: 0; 
        text-align: left; 
    }

    .navbar-toggler {
      
        margin-left: auto; 
        text-align: right; 
        margin-top: 0;

    }


    .navbar {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }

 
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px); 
    }
}