body{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);

    /* background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%); */
}
@media(max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255,0.15);
        backdrop-filter: blur(10px);
    }
}