
.container {
        display: flex; 
        align-items: center; 
        gap: 20px; 
        justify-content: center; 
        flex-wrap: wrap; 
    }
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/offer.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 30px;;
      
    }
h1{
    font-style: normal;
    font-size: 3rem;
}
.hero-text{
    font-style: italic;
}

#img1 {
    width: 500px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    max-width: 100%; 
}

#img1:hover {
    transform: scale(1.1);  
    opacity: 0.8;            
}


.content-box {
    
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    background-color: black;
    color: white;
}


.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.custom-list li:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.custom-list i {
    font-size: 24px;
    color: aquamarine;
    margin-right: 12px;
}

.custom-list span {
    transition: color 0.3s ease-in-out;
}

.custom-list li:hover span {
    color:aquamarine;
}

@media (max-width: 768px) {
    /* For smaller devices like tablets */
    h1 {
        font-size: 2rem;
    }

    .hero-text {
        font-size: 1.2rem;
        margin: 20px;
    }

    #img1 {
        width: 80%;
        max-width: 400px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content-box {
        padding: 20px;
    }

    .custom-list li {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    /* For small devices like phones */
    h1 {
        font-size: 1.5rem;
    }

    .hero-text {
        font-size: 1rem;
    }

    #img1 {
        width: 100%;
        max-width: 350px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content-box {
        width: 90%;
        padding: 15px;
    }

    .custom-list li {
        font-size: 14px;
    }
}
