body, html {
    height: 100%;
    align-items: center;
    background-color: #f4f4f4;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/offer.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container {
    /* margin-top: 100px; */
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.branch-card {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 200px;
}

.branch-card i {
    font-size: 30px;
    color: #c49b63;
}

.branch-card:hover {

    transform: scale(1.05);
    opacity: 0.8;

}

@media (max-width: 768px) {
    .branch-card {
        margin-bottom: 15px;
        min-height: 220px;
    }
}