html, body {
   
    margin: 0;
    padding: 0;
    /* background-image: url("../images/reg.jpg"); */
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.4)!important;
}
form {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); /* Adjusted for better visibility */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 180px auto 50px; /*top, right-right, bottom respectively*/   
}

/* .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
} */

h1 {
    text-align: center;
    margin-bottom: 20px;
}

 .form-group {
    margin-bottom: 15px;
}

.checkbox-group{
    position: relative;
    left: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#service{
    width:50px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#txtboxes {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


